html{
    background: #BFD8D2;
}

footer{
    background-image: linear-gradient(#FEDCD2 60%, #BFD8D2);
    color: black;
    padding-top: 10px;
    padding-bottom: 300px;
}

header{
    background: #BFD8D2;
}

a{
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
a:hover, a:active, a:focus{
    text-decoration: none;
    color: #DF744A;
}

.btn-default{
    background: #DF744A;
    color: white;
    border: none;
    box-shadow: 0px 3px 0px 0px #888888;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
    background: #FEDCD2 !important;
    color: black !important;
    border: none !important;
    box-shadow: none !important;
    text-align: center;
}

.blockquote-footer, .blockquote{
    text-align: justify;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}